:root {
    --bs-roxo: #4a0a6a;
    --bs-lilas: #d29fef;
    --bs-indigo: #6610f2;
}

.bg-roxo{
    background-color: #4a0a6a !important;
}

.bg-lilas{
    background-color: #d29fef !important;
}

.bg-indigo{
    background-color: #7234d4 !important;
}

.text-roxo{
    color: #4a0a6a !important;
}

.text-lilas{
    color: #d29fef;
}

.text-indigo{
    color: #7234d4;
}

.btn-roxo{
    background-color: #4a0a6a;
    border-color: #4a0a6a;
    color: aliceblue;
}

.btn-roxo:hover{
    background-color: #29033b;
    border-color: #29033b;
    color: aliceblue;
}

.btn-lilas{
    background-color: #d29fef;
    border-color: #d29fef;
    color: aliceblue;
}

.btn-lilas:hover{
    background-color: #b571dc;
    border-color: #b571dc;
    color: aliceblue;
}

.btn-indigo{
    background-color: #7234d4;
    border-color: #5c2ca9;
    color: aliceblue;
}

.btn-indigo:hover {
    background-color: #7234d4;
    border-color: #5c2ca9;
    color: aliceblue;
}